@use "./variables" as *;

// Tablet view

@media screen and (min-width: 768px) {
    nav {
        .nav__brand {
            font-size: 3rem;
        }
    
        .nav__rule {
            font-size: 1.5rem;
        }
    }

    button {
        height: 3.3rem;
        width: 7rem;
    }

    .bet {
        gap: 20rem;

        .bet__amount {
            padding-top: 2rem;
            margin: 0 5.7rem;
            font-size: 2.2rem;
        }

        .bet__btn {
            font-size: 1.8rem;
            margin: 2rem auto;
        }
    }

    .game {
        .game__side-title {
            font-size: 1.8rem;
        }
    }
    
    .card {
        height: 55%;
        width: 18%;
    
        .card__content {
            font-size: 3rem;
            position: center;
        }
    }

    .decision {
        gap: 5rem;
    }
}

// Desktop view

@media screen and (min-width: 1024px) {
    nav {
        padding: 0 5rem;

        .nav__brand {
            font-size: 2.5rem;
        }
    
        .nav__rule {
            font-size: 1.2rem;
        }
    }

    button {
        height: 3.4rem;
        width: 7rem;
    }

    .bet {
        gap: 40rem;
        padding: 0.3rem;;

        .bet__amount {
            padding-top: 1.3rem;
            margin: 0 9rem 1.5rem;
            font-size: 1.8rem;
        }

        .bet__btn {
            font-size: 1.3rem;
        }
    }

    .game {
        margin: 1.2rem auto;
        height: 60%;
    
        .game__side-title {
            font-size: 1.4rem;
        }
    }
    
    .card {
        height: 55%;
        width: 8%;
    
        .card__content {
            font-size: 1.5rem;
            position: center;
        }
    }

    .decision {
        margin: 0; 
        gap: 10rem;
        font-size: 1.3rem;;
    }
}
