@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lobster&display=swap');

// variables

// $casino-color: #004A2F;
$primary-color: #127C56;
$brand-color: #FED049;
$secondary-color: #3D262A;
$text-color: #FEFBF3;


// fonts
$brand-font: 'Lobster', cursive;
$casio-font: 'Gelasio', serif;

// tag selector
* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // GLOBAL
    color: $text-color;
    font-family: $casio-font;
}

a:link,
a:visited {
    text-decoration: none;
}

button {
    cursor: pointer;
}

nav {
    height: 10vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    // gap: 1rem;

    .nav__brand {
        font-family: $brand-font;
        font-size: 2rem;
        color: $brand-color;
    }

    .nav__rule {
        font-size: 1.2rem;
    }
}

main {
    height: 90vh;
    background-color: $primary-color;
}

// class selector
.bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;

    .bet__amount {
        padding-top: 1.5rem;
        margin: 0 3rem 1.5rem;
        line-height: 3rem;
    }

    .bet__btn {
        background-color: $primary-color;
        position: relative;
        right: 2.6rem;
        height: 3rem;
        width: 6rem;
        padding: 1px;
        font-size: 1.5rem;
        border: 2px solid $text-color;
    }
}


.game {
    margin: 1.2rem auto;
    height: 70%;
    width: 80%;
    border: 2.5px solid $secondary-color;

    .game__dealer {
        height: 50%;
        width: 100%;
        border: 1px solid red;
    }

    .game__player {
        height: 50%;
        width: 100%;
        border: 2px solid yellow;
    }

}

.decision {
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    .decision__btn {
        background-color: $secondary-color;
        height: 4rem;
        width: 8rem;
        font-size: 1.8rem;
    }
}

.card {
    background-color: white;
    height: 43%;
    width: 23%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-items: center;

    &--cover {
        background-color: $brand-color;
        position: relative;
        bottom: 10rem;
        left: 4.6rem;
    }

    .card__content {
        font-size: 3rem;
        position: center;
        color: black;

        &--red {
            color: red; 
        }

        &--top {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &--middle {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        &--bottom {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }

    }
    
}

