@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lobster&display=swap');

// variables

// $casino-color: #004A2F;
$casino-color: #127C56;
$brand-color: #FED049;
$navbar-color: #3D262A;
$text-color: #FEFBF3;


// fonts
$brand-font: 'Lobster', cursive;
$casio-font: 'Gelasio', serif;

// tag selector
* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // GLOBAL
    color: $text-color;
    font-family: $casio-font;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    background-color: $navbar-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    // gap: 1rem;

    .nav__brand {
        font-family: $brand-font;
        font-size: 2rem;
        color: $brand-color;
    }

    .nav__rule {
        font-size: 1.2rem;
    }
}

main {
    height: 90vh;
    background-color: $casino-color;
}

// class selector
.game-title {
    padding-top: 1.5rem;
    margin: 0 3rem 1.5rem;
    line-height: 3rem;
}

.game-table {
    margin: 1.2rem auto;
    height: 70%;
    width: 80%;
    border: 2.5px solid $navbar-color;

}