@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FEFBF3;
  font-family: "Gelasio", serif;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  background-color: #3D262A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}
nav .nav__brand {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: #FED049;
}
nav .nav__rule {
  font-size: 1.2rem;
}

main {
  height: 90vh;
  background-color: #127C56;
}

.game-title {
  padding-top: 1.5rem;
  margin: 0 3rem 1.5rem;
  line-height: 3rem;
}

.game {
  margin: 1.2rem auto;
  height: 80%;
  width: 80%;
  border: 2.5px solid #3D262A;
}
.game .dealer {
  height: 50%;
  width: 100%;
  border: 1px solid red;
}
.game .player {
  height: 50%;
  width: 100%;
  border: 2px solid yellow;
}