@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FEFBF3;
  font-family: "Gelasio", serif;
}

a:link,
a:visited {
  text-decoration: none;
}

main {
  height: 90vh;
  background-color: #127C56;
}

button {
  cursor: pointer;
}

.bet__btn {
  background-color: #127C56;
  position: relative;
  right: 2.6rem;
  height: 3rem;
  width: 6rem;
  padding: 1px;
  font-size: 1.5rem;
  border: 2px solid #FEFBF3;
}

.decision__btn {
  background-color: #3D262A;
  height: 4rem;
  width: 8rem;
  font-size: 1.8rem;
}

.card {
  background-color: white;
  height: 33%;
  width: 23%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  justify-items: center;
}
.card--cover {
  background-color: #FED049;
}
.card .card__content {
  font-size: 2rem;
  position: center;
}
.card .card__content--black {
  color: black;
}
.card .card__content--red {
  color: red;
}
.card .card__content--top {
  grid-column: 1/2;
  grid-row: 1/2;
}
.card .card__content--middle {
  grid-column: 2/3;
  grid-row: 2/3;
}
.card .card__content--bottom {
  grid-column: 3/4;
  grid-row: 3/4;
}

.bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.bet .bet__amount {
  padding-top: 1.5rem;
  margin: 0 3rem 1.5rem;
  line-height: 3rem;
}

.game {
  margin: 1.2rem auto;
  height: 75%;
  width: 80%;
}
.game .game__dealer, .game .game__player {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.decision {
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.modalBox {
  display: none;
  position: fixed;
  background-color: #FF5D5D;
  z-index: 1;
  top: 11rem;
  right: 2rem;
  width: 10rem;
  opacity: 0.8;
  border-radius: 10px;
}
.modalBox .modelContent {
  font-size: 2rem;
  margin: 1rem auto;
  padding: 1rem;
}
.modalBox .modelContent .closing-cross {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

nav {
  height: 10vh;
  background-color: #3D262A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
}
nav .nav__brand {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: #FED049;
}
nav .nav__rule {
  font-size: 1.2rem;
}